<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Restaurant Reviews</title>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<div class="row">
					<div class="col-md-12">
						<h1>Add a New Restaurant</h1>
					</div>
				</div>
			</div>
			<div class="jumbotron">
				<form class="add-new-restaurant" action="/added-restaurant" method="post">
					<div class="form-group">
						<label for="new-restaurant">Enter your new Restaurant:</label>
            <br>
            <input type="text" name="new-restaurant" id="new-restaurant" placeholder="Insert Restaurant Name">
					</div>
					<div class="form-group">
						<label for="new-description">Enter a description about your selected restaurant:</label>
            <br>
            <input type="text" name="new-description" id="new-description" placeholder="Insert Description">
					</div>
					<div class="form-group">
						<label for="new-cuisine">Enter a Cuisine:</label>
            <br>
            <input type="select" name="new-cuisine" id="new-cuisine" placeholder="Insert Cuisine">
					</div>
          <button class="btn btn-info" type="submit" name="button">Enter</button>
        </form>
			</div>
      <div class="jumbotron">
        <form class="add-new-restaurant" action="/" method="post">
          <div class="form-group">
            <button class="btn btn-success" type="submit" name="button">Return Home</button>
          </div>
        </form>
      </div>
		</div>
	</body>
</html>
