<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Restaurant Reviews</title>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<div class="row">
					<div class="col-md-12">
						<h1>Add a new cuisine</h1>
					</div>
				</div>
			</div>
			<div class="jumbotron">
				<form class="add-new-cuisine" action="/added-cuisine" method="post">
					<div class="form-group">
						<label for="new-cuisine">Enter your new cuisine:</label>
            <br>
            <input type="text" class="form-control" name="new-cuisine" id="new-cuisine" placeholder="Insert type of cuisine">
					</div>
          <button class="btn btn-info" type="submit" name="button">Enter</button>
        </form>
			</div>
      <div class="jumbotron">
				<h2><a href="/">Return home</a></h2>
      </div>
		</div>
	</body>
</html>
