<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Restaurant Reviews</title>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<div class="row">
					<div class="col-md-12">
						<h1>Add a new restaurant</h1>
					</div>
				</div>
			</div>
			<div class="jumbotron">
				<form class="add-new-restaurant" action="/added-restaurant" method="post">
					<div class="form-group">
						<label for="new-restaurant">Enter your new restaurant:</label>
            <br>
            <input type="text" name="new-restaurant" id="new-restaurant" placeholder="Insert Restaurant Name">
					</div>
					<div class="form-group">
						<label for="new-description">Enter a description about your selected restaurant:</label>
            <br>
            <input type="text" name="new-description" id="new-description" placeholder="Insert Description">
					</div>
					<div class="form-group">
						<select name="cuisine-id">
							@foreach (var cuisine in Model)
							{
								<option value="@cuisine.GetId()">@Model.GetName()</option>
							}
						</select>
						<button class="btn btn-info" type="submit" name="button">Enter</button>
					</div>
				</form>
			</div>
			<div class="jumbotron">
				<h2><a href="/">Return home</a></h2>
			</div>
		</div>
	</body>
</html>
